01-FirstQtConsoleApplication/build/
00-EmptyQmakeProject/build/
02-qDebug/build/
03-FirstQtWidgetApp/build/
04-MyProgressbar/build/
05-SignalandSlot/build/
06-mnaWindow/build/
06-mnaWindow/.vs/
09-BasicAppHTML/build/
09-HoriAndVertiLayout/build/
QTQML/.vs/
03-FirstQtWidgetApp/release/
03-FirstQtWidgetApp/debug/
04-MyProgressbar/release/
04-MyProgressbar/debug/
05-SignalandSlot/release/
05-SignalandSlot/debug/
